<p id="notice"><%= notice %></p>

<h1>Charts</h1>
<div style="width: 500px">
  <%= area_chart (@data) %>
</div>


<table>
  <thead>
    <tr>
      <th>Planet</th>
      <th>Distance</th>
      <th>Temperature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charts.each do |chart| %>
      <tr>
        <td><%= chart.planet %></td>
        <td><%= chart.distance %></td>
        <td><%= chart.temperature %></td>
        <td><%= link_to 'Show', chart %></td>
        <td><%= link_to 'Edit', edit_chart_path(chart) %></td>
        <td><%= link_to 'Destroy', chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chart', new_chart_path %>
